
@{
    ViewBag.Title = "Procesar Archivos De Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <h2>@ViewBag.Title.</h2>
    <span>@ViewBag.Message</span>
    <h2>@ViewBag.Error </h2>

    <form method="post" enctype="multipart/form-data">
        <input class="form-control-file" type="file" name="file1" />
        <br />
        <input class="form-control-file" type="file" name="file2" />
        <br />
        <input type="submit" name="name" value="Cargar" class="btn btn-default" />
        @{
            if (@ViewBag.Band == 1){
                @Html.ActionLink("Resultados", "FileShow", "Home", new { @class = "btn btn-primary" })
            }
        }

    </form>
</div>

