
@{
    ViewBag.Title = "Carga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h2>@ViewBag.Error </h2>


<div class="container">
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file1" />
        <br />
        <input type="file" name="file2" />
        <br />
        <input type="submit" name="name" value="Cargar" />
    </form>
</div>

<h2>@ViewBag.Correcto </h2>

 <h1>Datos archivo 1 @ViewData["resultados"]</h1>
 <h1>Datos archivo 2 @ViewData["resultados2"]</h1>